BraceWrapping:
  AfterClass:      true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  AfterControlStatement: true
  BeforeElse:      true
  # IndentBraces:    true
IndentCaseLabels: true
BreakBeforeBraces: Custom
ColumnLimit: 79
